@import './_variables.css';
@import './slider.css';
@import './header.css';
@import './exchange.css';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: var(--primary-font);
    font-size: 62.5%;
    min-width: 320px;
}

.index-main {
    background-color: var(--primary-bg-color);
    text-align: center;
    width: 100%;
}

.index-main-section {
    padding: 40px 0;
}