@import './_variables.css';
@import './sections/slider.css';
@import './sections/header.css';
@import './sections/exchange.css';
@import './sections/beneficts.css';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: var(--primary-font);
    font-size: 62.5%;
    min-width: 320px;
}

.main {
    background-color: var(--primary-bg-color);
    text-align: center;
    width: 100%;
}

.main-section {
    padding: 100px 0;
}

.main-section__titles {
    margin: 20px auto;
    width: 85%;
}

.main-section__titles h2 {
    color: var(--primary-title-color);
    margin-bottom: 15px;
    font-size: 2.4rem;
    font-weight: 700;
}

.main-section__titles p {
    color: var(--primary-text-color);
    font-size: 1.4rem;
    font-weight: 500;
}