:root {
    /* Fonts */
    --primary-font: 'DM Sans', sans-serif;
    --secondary-font: 'Inter', sans-serif;

    /* Colors */
    --main-orange: #F7931A;
    --soft-orange: #FFC47C;
    --main-blue: #1A9AF7;
    --soft-blue: #C5D4EE;

    --white: #FFFFFF;
    --dark-white: #EEEEEE;
    --soft-gray: #DDDDDD;
    --gray: #989898;
    --dark-gray: #222222;
    --soft-black: #111111;
    --black: #000000;
}

/* Both-Themes UI Colors */
[app-theme="light"], [app-theme="dark"] {
    --accent-color: var(--gray);
    --table-currency-title-color: var(--main-orange);
    --table-currency-footer-bg-color: var(--soft-orange);
    --table-commission-title-color: var(--main-blue);
    --table-commission-footer-bg-color: var(--soft-blue);
    --hero-text-shadow: var(--dark-gray);
    --footer-bg-color: var(--main-orange);
    --footer-color: var(--dark-white);
}

/* Light-Theme UI Colors */
[app-theme="light"] {
    --primary-bg-color: var(--dark-white);
    --primary-title-color: var(--black);
    --primary-text-color: var(--dark-gray);
    --border-color: var(--gray);
    --shadow-color: rgba(40, 38, 35, 0.25);

    --header-bg-gradient: linear-gradient(190deg, var(--dark-white) 0%, var(--dark-white) 40%, var(--main-orange) 100%);
    --button-bg-color: var(--soft-black);
    --contrast-color: var(--white);
    --beneficts-card-bg-color: var(--soft-gray);
    --beneficts-bg-opacity: 1;
}

/* Dark-Theme UI Colors */
[app-theme="dark"] {
    --primary-bg-color: var(--soft-black);
    --primary-title-color: var(--white);
    --primary-text-color: var(--soft-gray);
    --border-color: var(--main-orange);
    --shadow-color: rgba(255, 156, 25, 0.25);

    --header-bg-gradient: linear-gradient(190deg, var(--soft-black) 0%, var(--soft-black) 40%, var(--main-orange) 100%);
    --button-bg-color: var(--dark-white);
    --contrast-color: var(--black);
    --beneficts-card-bg-color: var(--dark-gray);
    --beneficts-bg-opacity: 0.2;
}