.exchange__bg-img {
    margin: 0 auto;
    max-width: 350px;
    width: 75%;
}

.exchange__table-container {
    display: grid;
    grid-template-columns: 20px auto 20px;

    margin: auto;
    min-width: 275px;
    width: 40%;
}

.exchange__table-arrow {
    align-self: center;
    color: var(--table-accent-color);
    font-size: 2rem;
    text-align: center;
}

.exchange__table-arrow::before {
    cursor: pointer;
}

.exchange__table {
    display: grid;
    grid-template-columns: 3fr 7fr;
    grid-template-rows: repeat(5, 40px);
    grid-gap: 3px;
    grid-template-areas: "header header";

    background-color: var(--primary-bg-color);
    border-radius: 20px;
    font-family: var(--secondary-font);
    height: auto;
    margin: 0 15px 20px;
    overflow: hidden;
}

.exchange__table div {
    background-color: var(--table-bg-color);
}

.exchange__table-header,
.exchange__table--first-column,
.exchange__table--second-column {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
}

.exchange__table-header {
    font-family: var(--primary-font);
    font-size: 1.8rem;
    font-weight: 700;
    grid-area: header;
}
.exchange__table-header--currency {
    color: var(--table-currency-title-color);
}
.exchange__table-header--commission {
    color: var(--table-commission-title-color);
}

.exchange__table--first-column {
    color: var(--table-text-color);
    font-size: 1.6rem;
    font-weight: 500;
    justify-content: start;
}

.exchange__table--second-column {
    color: var(--table-accent-color);
    font-weight: 700;
    font-size: 1.4rem;
    text-align: center;
}

.exchange__table img {
    height: 75%;
    margin-left: 10px;
}

.exchange__table-footer {
    border-radius: 7.5px;
    font-size: 1.3rem;
    margin: auto;
    padding: 5px 15px;
    position: relative;
    width: max-content;
}
.exchange__table-footer--currency {
    background-color: var(--table-currency-footer-bg-color);
}
.exchange__table-footer--commission {
    background-color: var(--table-commission-footer-bg-color);
}

@keyframes vertical-translate {
    100% {
        transform: translateY(8px);
    }
}

@keyframes border-color {
    100% {
        border-color: var(--header-subtitle-color);
    }
}