.exchange__bg-img {
    margin: 0 auto;
    max-width: 350px;
    width: 75%;
}

.exchange-tables__wrapper {

}

.exchange-table__arrow {
    align-self: center;
    color: var(--primary-text-color);
    font-size: 2rem;
    text-align: center;
}

.exchange-table__arrow::before {
    cursor: pointer;
}

.exchange-table__container {
    display: grid;
    grid-template-columns: 20px auto 20px;

    margin: auto;
    min-width: 275px;
    width: 40%;
}

.exchange-table {
    display: grid;
    grid-template-columns: 3fr 7fr;
    grid-template-rows: repeat(5, 40px);
    grid-gap: 3px;
    grid-template-areas: "header header";

    background-color: var(--primary-bg-color);
    border-radius: 20px;
    font-family: var(--secondary-font);
    height: auto;
    margin: 0 15px 20px;
    overflow: hidden;
}

.exchange-table div {
    background-color: var(--contrast-color);
}

[class ^= "exchange-table__header"],
[class ^= "exchange-table__first-column"],
.exchange-table__second-column {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
}

[class ^= "exchange-table__header"] {
    font-family: var(--primary-font);
    font-size: 1.8rem;
    font-weight: 700;
    grid-area: header;
}
.exchange-table__header--currency {
    color: var(--table-currency-title-color);
}
.exchange-table__header--commission {
    color: var(--table-commission-title-color);
}

[class ^= "exchange-table__first-column"] {
    color: var(--accent-color);
    font-size: 1.6rem;
    font-weight: 500;
    justify-content: start;
}

.exchange-table__second-column {
    color: var(--primary-text-color);
    font-weight: 700;
    font-size: 1.4rem;
    text-align: center;
}

.exchange-table__second-column img {
    height: 75%;
    margin-left: 10px;
}

[class ^= "exchange-table__footer"] {
    border-radius: 7.5px;
    font-size: 1.3rem;
    margin: auto;
    padding: 5px 10px;
    position: relative;
    width: max-content;
}
.exchange-table__footer--currency {
    background-color: var(--table-currency-footer-bg-color);
}
.exchange-table__footer--commission {
    background-color: var(--table-commission-footer-bg-color);
}

#exchange-second-table {
    height: 0;
    visibility: collapse;
}