.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background: var(--header-bg-gradient);
    height: 325px;
    padding: 20px 15px;
    position: relative;
    text-align: center;
    width: 100%;
}

.header__titles-container {
    margin: 2vw 0;
}

.header__logo {
    margin: 0 0 .5vw;
    max-width: 500px;
    width: 60%;
}

.header__title {
    color: var(--primary-title-color);
    font-size: 3rem;
    margin-bottom: 1vw;
}

.header__subtitle {
    color: var(--primary-text-color);
    font-size: 1.8rem;
    font-weight: 500;
}

.header__button {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--button-bg-color);
    border: 6px var(--button-bg-color) solid;
    border-radius: 15px;
    bottom: 0;
    box-shadow: 2px 5px 10px 4px var(--shadow-color), -2px 5px 10px 4px var(--shadow-color);
    color: var(--contrast-color);
    font-size: 1.8rem;
    font-weight: 900;
    height: 10vw;
    max-height: 75px;
    min-height: 55px;
    min-width: 290px;
    padding: 0 16px;
    position: absolute;
    text-transform: capitalize;
    transform: translateY(50%);
    width: calc(100% / 3);
}

.header__button-icon {
    margin-left: 16px;
}

.header__button:hover {
    animation: border-color .8s ease forwards;
}

.header__button:hover .header__button-icon {
    animation: vertical-translate .8s ease infinite;
    color: var(--border-color);
    position: relative;
    top: -4px;
}

@keyframes vertical-translate {
    100% {
        transform: translateY(8px);
    }
}

@keyframes border-color {
    100% {
        border-color: var(--border-color);
    }
}